<table class="table">
  <thead>
    <tr>
      <th>Cards</th>
      <% @game.game_players.each do |gp| %>
        <th><%= gp.player.name %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @game.hands.each do |hand| %>
      <tr>
        <td><%= hand.card_count %></td>
        <% hand.hand_players.each do |hp| %>
          <td><%= hp.bid %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
