<p>
  <strong>ID:</strong>
  <%= @game.id %>
</p>
<p>
  <strong>Date:</strong>
  <%= @game.date %>
</p>
<p>
  <strong>Players:</strong>
  <ul>
    <% @game.game_players.each do |game_player| %>
      <li><%= game_player.player.name %></li>
    <% end %>
  </ul>
</p>