<h1>Players</h1>
 
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
  </tr>
 
  <% @players.each do |player| %>
    <tr>
      <td><%= player.id %></td>
      <td><%= player.name %></td>
      <td><%= link_to 'Show', player_path(player) %></td>
    </tr>
  <% end %>
</table>