<!DOCTYPE html>
<html>
  <head>
    <title>Heckscore</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav class="navbar">
        <a class="navbar-brand" href="/">HeckScore</a>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
